/* style.css */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f4f6f8;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  align-items: center;     /* vertical centering */
  justify-content: center; /* horizontal centering */
}


.form-container {
    align-items: center;
}

.container {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 400px;
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

form label {
  display: block;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

form input, form select {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.3rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  margin-top: 1.5rem;
  padding: 0.7rem;
  width: 100%;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

p {
  margin-top: 1rem;
  text-align: center;
}
a {
  text-decoration: none;
  color: #007bff;
}
a:hover {
  text-decoration: underline;
}

.message {
  text-align: center;
  font-weight: bold;
  margin-right: 10vh;
}

.message.success {
  color: green;
}

.message.error {
  color: red;
}
